@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Regular.ttf');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Black.ttf');

    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Bold.ttf');

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/Raleway-Regular.ttf');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/Raleway-ExtraBoldItalic.ttf');

    font-weight: 800;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

main {
    width: 1500px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #f8f8f8;
}

.header_map {
    height: 350px;
    /* background-color: #abeafa; */
    /* background-image: url('img/maps.jpg'); */
}

 .map_in_header {
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}

.content {
    padding: 0 165px 0 165px;
}

.left_block {
    width:  270px;
    float: left;
    position: relative;
    margin-right: 30px;
}


menu {
    width:  270px;
    background-color: #26d2fc;
    margin-bottom: 68px;
}

menu .heading_nav p {
    background-color: #333;
    height: 0;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 29px 188px 37px 42px;
}

/* menu ul {
    padding-top: 8px;
} */

menu li a {
    text-decoration: none;
    color:  #000000;
}

menu li {
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    padding-left: 40px;
}

menu ul li:hover {
    background-color: #333;
    color: #ffffff;
}

.now_is_open {
    background-color:  #eaeaea;
    width: 270px;
    height: 300px;
}

.now_is_open p {
    width: 109px;
    padding-left: 142px;
    padding-top: 127px;

    text-transform: uppercase;
    font-family: "Raleway";
    color:  #333333;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    line-height: 36px;
    text-align: left;
}

.icons_big {
    width: 1170px;
    height: 150px;
}

.icons_big .facebook {
    background-color:  #3b5997;
    width: 390px;
    height: 150px;
    float: left;
}

.icons_big .facebook img[alt="facebook"] {
    margin: 44px 180px;
}

.icons_big .twitter {
    background-color:  #3fccfd;
    width: 390px;
    height: 150px;
    float: left;
}

.icons_big .twitter img[alt="twitter"] {
    margin: 49px 163px  ;
}

.icons_big .pinterest {
    background-color:  #cb2027;
    width: 390px;
    height: 150px;
    float: left;
}

.icons_big .pinterest img[alt="pinterest"] {
    margin: 43px 163px  ;
}

footer {
    background-color: #373737;
    width: 1500px;
    height: 348px;
    margin: 0 auto;
    clear: both;
}

/* styles for contact-page */

.center_block_contacts {
    width: 694px;
    height: 949px;
    float: left;
}

.center_block_contacts .link_box {
    margin: 12px 0 79px 0;
    padding-left: 14px
}

.center_block_contacts .link_box a{
    font-family: Roboto;
    color:  #989898;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.center_block_contacts > div .link_contacts {
    height: 20px;
    background-color:  #faef03;
    line-height: 20px;
    padding: 3px 2px;
}

.left_block_contacts {
    position: static;
    margin-right: 41px;
}

.form_left {
    width: 373px;
    height: 485px;
    float: left;
}

.form_left form span {
    font-family: Roboto;
    color:  #333333;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-left: 3px;

}

.form_left form input {
    border-style: solid;
    border-width: 1px;
    border-color:  #efefef;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 350px;
    height: 27px;
    font-family: Roboto;
    color:  #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 28px;
}

.form_left form textarea {
    width: 350px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color:  #efefef;
    box-sizing: border-box;
    background-color:  #ffffff;
    margin-top: 10px;
}

.vertical_line {
    width: 1px;
    height: 330px;
    background-color:  rgba(167, 167, 167, 0.8);
    margin-top: 72px;
    float: left;
}

.address_right {
    width: 250px;
    height: 458px;
    float: left;
    padding-left: 25px;
    padding-top: 12px;
    font-family: Roboto, sans-serif;
}

.address_right .heading {
    color:  #353535;
    font-size: 18px;
    font-weight: 900;
    line-height: 14px;
    text-align: left;

}

.address_right p, .ico_map_point  {
    float: left;
}

.ico_map_point {
    padding-right: 10px;
}

.address_right .map_point_p {
    width: 200px;
    color:  #777777;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-top: 13px;
}
.address_right .address_right_text {
    width: 185px;
    margin-top: 9px;
    color:  #818181;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.address_right .phone {
    color:  #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-top: 20px;
    padding-left: 6px;
}

.address_right .ico_phone {
    padding-right: 4px;
}

.address_right .address_email {
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    text-align: left;
    padding-top: 12px;
    padding-left: 6px;
}

.address_right .ico_email {
    padding-right: 7px;
    padding-top: 3px;
    float: left;
}

.address_right .address_right_big_text {
    width: 290px;
    color:  #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    padding-top: 30px;
    padding-left: 8px;
}

.brands {
    background-color:  #ffffff;
    /* background-image: url('img/brand.jpg'); */
    width: 870px;
    height: 160px;
    clear: both;
    float: left;
    margin-top: 66px;
    margin-left: -10px;
}

.brands img {
    margin-top: 69px;
    margin-left: 81px;
}

.clear {
    clear: both;
}