@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Regular.ttf');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Bold.ttf');

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Black.ttf');

    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-BlackItalic.ttf');

    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('fonts/Roboto/Roboto-Bold.ttf');

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/Raleway-Regular.ttf');

    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/Raleway-ExtraBold.ttf');

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('fonts/Raleway/Raleway-ExtraBoldItalic.ttf');

    font-weight: 800;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

main {
    width: 1500px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #f8f8f8;
}

.header_map {
    height: 350px;
    background-image: url('img/maps.jpg');
}

.header_box {
    height: 350px;
    background-color: #abeafa;
    background-image: none;
}

.header_map .header_logo {
    float: left;
    padding: 24px 0 0 234px;
}

.header_map .ico_header_container {
    width: 200px;
    height: 35px;
    margin-top: 40px;
    margin-left: 768px;
    background-color: #c9c9c9;
    float: left;
    opacity: 0.85;
}



/*.header_map .ico_header_container a {
    float: left;
}*/
/*.facebook_header_ico img {
    opacity: 1.0;
}*/

.facebook_header_ico,
.twitter_header_ico,
.youtube_header_ico,
.pinterest_header_ico,
.instagram_header_ico {
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: -10px;
}

/*.header_map .facebook_header_ico {
    margin-left: 792px;
}*/

.map_in_header {
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}

.content {
    padding: 0 165px 0 165px;
}

.left_block {
    width:  270px;
    float: left;
    position: relative;
    margin-right: 30px;
}


menu {
    width:  270px;
    background-color: #26d2fc;
    margin-bottom: 68px;
}

menu .heading_nav p {
    background-color: #333;
    height: 0;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 29px 188px 37px 42px;
}

/* menu ul {
    padding-top: 8px;
} */

menu li a {
    text-decoration: none;
    color:  #000000;
}

menu li {
    list-style-type: none;
    text-transform: uppercase;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    padding-left: 40px;
}

menu ul li:hover {
    background-color: #333;
}

menu ul li:hover a {
    color: #ffffff;
}

.now_is_open {
    background-color:  #eaeaea;
    width: 270px;
    height: 300px;
}

.now_is_open p {
    width: 109px;
    padding-left: 142px;
    padding-top: 127px;

    text-transform: uppercase;
    font-family: "Raleway";
    color:  #333333;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    line-height: 36px;
    text-align: left;
}

.icons_big {
    width: 1170px;
    height: 150px;
}

.icons_big .big_facebook {
    background-color:  #3b5997;
    width: 390px;
    height: 150px;
    float: left;
}

.icons_big .big_facebook img[alt="facebook"] {
    margin: 44px 180px;
}

.icons_big .big_twitter {
    background-color:  #3fccfd;
    width: 390px;
    height: 150px;
    float: left;
}

.icons_big .big_twitter img[alt="twitter"] {
    margin: 49px 163px  ;
}

.icons_big .big_pinterest {
    background-color:  #cb2027;
    width: 390px;
    height: 150px;
    float: left;
}

.icons_big .big_pinterest img[alt="pinterest"] {
    margin: 43px 163px  ;
}

footer {
    background-color: #373737;
    width: 1500px;
    height: 348px;
    margin: 0 auto;
    clear: both;

    font-family: "Roboto";
    font-weight: 400;
    color: #fff;
}

footer > p {
    height: 47px;
    line-height: 47px;
    font-size: 14px;
    padding-left: 171px;
    background-color: #333333;
    /*margin-top: 64px;*/
}

.facebook {
    padding: 0;
    margin: 50px 15px 0 0;
}

.twitter {
    padding: 0;
    margin: 50px 11px 0 0;
}

.youtube {
    padding: 0;
    margin: 50px 12px 0 0;
}

.pinterest, .instagram, .tumblr, .rss, .google_plus {
    padding: 0;
    margin: 50px 14px 0 0;
}

.header_logo:hover {
    transform: scale(1.03);
}
.facebook_header_ico:hover,
.twitter_header_ico:hover,
.youtube_header_ico:hover,
.pinterest_header_ico:hover,
.instagram_header_ico:hover,
.facebook:hover,
.twitter:hover,
.youtube:hover,
.pinterest:hover,
.instagram:hover,
.tumblr:hover,
.rss:hover,
.google_plus:hover {
    transform: scale(1.5);
}

footer > p > a > img.facebook,
footer > p > a > img.twitter,
footer > p > a > img.pinterest,
footer > p > a > img.google_plus,
footer > p > a > img.tumblr,
footer > p > a > img.instagram,
footer > p > a > img.rss{
    margin-top: 1%;
    float: right;
}

footer > p > a > img.google_plus {
    margin-top: 1.2%;
}

footer > p > a > img.rss {
    margin-right: 187px;
}

footer > nav > div {
    float: left;
    padding-top: 70px;
    margin-bottom: 65px;
}

footer > nav > div > h3  {
    font-family: "Raleway";
    font-weight: 700;
    margin-bottom: 27px;
}

footer .category {
    margin-left: 192px;
}

footer .account {
    margin-left: 114px;
}

footer .support {
    margin-left: 87px;
}

footer .newsletter {
    width: 204px;
    margin-left: 71px;
}

footer .newsletter h3 {
    margin-bottom: 5px;
}


footer .newsletter .footer_email_box {
    width: 255px;
    height: 30px;
    margin-top: 15px;
    font-family: Roboto;
    font-weight: 600;
}

footer .newsletter .footer_email_box input[type="text"] {
    width: 164px;
    height: 30px;
    float: left;
    background-color: #fff51f;
    text-transform: uppercase;
    padding-left: 16px;
    border: none;
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
}


footer .newsletter .footer_email_box input[type="submit"] {
    width: 71px;
    height: 30px;
    float: left;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border: none;
}

footer .newsletter .payment_ico_box {
    width: 276px;
    height: 22px;
    margin-top: 43px;
    margin-left: -7px;
}

footer .newsletter .payment_ico_box img {
    float: left;
    margin-right: 10px;
}

footer .newsletter .payment_ico_box img:hover {
    transform: scale(1.2);
}

footer .about {
    width: 232px;
    margin-left: 99px;
}

footer .about h3 {
    margin-bottom: 5px;
}

footer > nav > div > ul {
    font-size: 12px;
    list-style: none;
}

footer .footer_big_text,
footer .footer_phone,
footer .footer_email {
    font-size: 12px;
    line-height: 14px;
    font-family: Roboto;
    font-weight: 400;
}

footer .footer_phone,
footer .footer_email {
    font-size: 14px;
    margin-top: 5px;
}

footer .footer_email {
    margin-top: 13px;
}

footer .footer_phone p {
    float: left;
    margin-right: 20px;
}

footer .footer_email p {
    float: left;
    margin-right: 25px;
}

footer .footer_email p+p {
    color: #c6be11;
}

footer > nav > div > ul > li {
    margin-bottom: 3px;
}

/* /////////////////////// */
/* styles for contact-page */
/* /////////////////////// */

.center_block_contacts {
    width: 694px;
    height: 949px;
    float: left;
}

.center_block_contacts .link_box {
    margin: 12px 0 79px 0;
    padding-left: 14px
}

.center_block_contacts .link_box a{
    font-family: Roboto;
    color:  #989898;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.center_block_contacts > div .link_contacts {
    height: 20px;
    background-color:  #faef03;
    line-height: 20px;
    padding: 3px 2px;
}

.left_block_contacts {
    position: static;
    margin-right: 41px;
}

.form_left {
    width: 373px;
    height: 485px;
    float: left;
}

.form_left form span {
    font-family: Roboto;
    color:  #333333;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-left: 3px;

}

.form_left form input {
    border-style: solid;
    border-width: 1px;
    border-color:  #efefef;
    box-sizing: border-box;
    background-color:  #ffffff;
    width: 350px;
    height: 27px;
    font-family: Roboto;
    color:  #aaaaaa;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 28px;
}

.form_left form textarea {
    width: 350px;
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color:  #efefef;
    box-sizing: border-box;
    background-color:  #ffffff;
    margin-top: 10px;
}

.vertical_line {
    width: 1px;
    height: 330px;
    background-color:  rgba(167, 167, 167, 0.8);
    margin-top: 72px;
    float: left;
}

.address_right {
    width: 250px;
    height: 458px;
    float: left;
    padding-left: 25px;
    padding-top: 12px;
    font-family: Roboto, sans-serif;
}

.address_right .heading {
    color:  #353535;
    font-size: 18px;
    font-weight: 900;
    line-height: 14px;
    text-align: left;

}

.address_right p, .ico_map_point  {
    float: left;
}

.ico_map_point {
    padding-right: 10px;
}

.address_right .map_point_p {
    width: 200px;
    color:  #777777;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-top: 13px;
}
.address_right .address_right_text {
    width: 185px;
    margin-top: 9px;
    color:  #818181;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.address_right .phone {
    color:  #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    padding-top: 20px;
    padding-left: 6px;
}

.address_right .ico_phone {
    padding-right: 4px;
}

.address_right .address_email {
    color:  #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline;
    text-align: left;
    padding-top: 12px;
    padding-left: 6px;
}

.address_right .ico_email {
    padding-right: 7px;
    padding-top: 3px;
    float: left;
}

.address_right .address_right_big_text {
    width: 290px;
    color:  #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    padding-top: 30px;
    padding-left: 8px;
}

.brands {
    background-color:  #ffffff;
    /* background-image: url('img/brand.jpg'); */
    width: 870px;
    height: 160px;
    clear: both;
    float: left;
    margin-top: 66px;
    margin-left: -10px;
}

.brands img {
    margin-top: 69px;
    margin-left: 81px;
}

.clear {
    clear: both;
}

/* ////////////////////////// */
/* styles for shop-cat gridx3 */
/* ////////////////////////// */

.header_box .ico_header_container {
    width: 200px;
    height: 35px;
    margin-top: 40px;
    margin-left: 768px;
    background: none;
    float: left;
    opacity: 0.85;
}

.header_box .ico_header_container select {
    font-family: Raleway;
    color:  #ffffff;
    font-size: 10px;
    font-weight: 700;
    text-align: left;
    border: none;
    height: 10px;
    background: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: -10px;
}

.left_block .menu_products {
    margin-bottom: 57px;
}

.container .center_block_products {
    height: 2000px;
}

.center_block_products .product_box_1,
.center_block_products .product_box_2,
.center_block_products .product_box_3,
.center_block_products .product_box_4,
.center_block_products .product_box_5 {
    width: 870px;
    float: left;
    margin-top: 33px;
    margin-left: -11px;
}

.center_block_products .link_box_shop_cat {
    margin: 31px 0 61px -5px;
    padding-left: 14px;
}

.center_block_products .product_box_2,
.center_block_products .product_box_3,
.center_block_products .product_box_4,
.center_block_products .product_box_5 {
    margin-top: 30px;
}

.center_block_products .product_border {
    width: 270px;
    height: 320px;
    background-color:  #ffffff;
    float: left;
    margin-right: 30px;
}

.center_block_products .product_border_last {
    margin-right: 0;
}

.center_block_products .product {
    margin: 10px;
    background-color: #eaeaea;
}

.product_box_1 .desc,
.product_box_2 .desc,
.product_box_3 .desc,
.product_box_4 .desc,
.product_box_5 .desc {
    font-family: Roboto;
    color:  #333333;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    line-height: 19px;
    text-align: left;
    text-transform: uppercase;
    float: left;
    margin-top: -5px;
    margin-left: 25px;

}

.product_box_1 .desc {
    margin-left: 28px;
    margin-top: 8px;
}

.product_box_1 .cost,
.product_box_2 .cost,
.product_box_3 .cost,
.product_box_4 .cost,
.product_box_5 .cost {
    font-family: Roboto;
    color:  #333333;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-align: right;
    float: right;
    margin-right: 14px;
    margin-top: -4px;

}

.product_box_1 .cost {
    margin-top: 9px;
    margin-right: 21px;
}
.product_box_1 .last_cost {
    font-family: Roboto;
    color:  #e24602;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    margin-top: 1px;
    margin-left: 181px;
    float: left;
    text-decoration: line-through;
}

.new_product_box,
.hot_product_box {
    width: 250px;
    height: 235px;
    margin: 10px;
    background-image: url('img/product.jpg');
}

.new_product_box div,
.hot_product_box div {
    width: 46px;
    height: 46px;
    float: right;
}

.new_product_box div {
    background-image: url('img/orange-—Åorner.png');
}

.hot_product_box div {
    background-image: url('img/yellow-corner.png');
}

.new_product_box div p,
.hot_product_box div p {
    font-family: Roboto;
    color:  #ffffff;
    font-size: 9px;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    margin: 10px 6px 0 21px;
}

.hot_product_box div p {
    color:  #000000;
}

